@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


.form-selection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 80px;
    padding-top: 50px;
    color: white;
}

.container-countries {
    display: flex;
    box-sizing: border-box;
    width: 1000px;
    height: auto;
    flex-flow: row wrap;
    padding-left: 10px;
    padding-right: 50px;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 160px;
}

.home-header {
    background-color: #282c34;
    min-height: 100vh;
    justify-content: center;
}

.form-selection + h3 {
    color: white;
    margin-left: 150px;
    margin-bottom: 70px;
}