@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.container-country {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 3px solid gray;
    border-radius: 10px;
    margin-left: 40px;
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
}


.container-flag img{
    width: 245px;
    height: 150px;
    border-radius : 4%;
    object-fit: cover;

}

.container-flag h5 {
    margin-bottom: 10px;
    margin-top: 0px;
}

.container-info p {
    margin-bottom: 0px;
    margin-top: 0px;
    color: white;
}

.country-card {
    color: #FFF;    
    text-decoration: none;
}


 .container-country{
    box-sizing: border-box;
    width: 250px;
    height: 250px;
}

.container-inf {
    display: flex;
    flex-direction: column;
    align-items: center;
}