.container {
    background-image: url('../../img/addAct.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}


.home-button {
    position: relative;
    left: 636px;
    top: 40px
    
}

.form {
    display: flex;
    flex-direction: row;
}

.form-act input {
    border-radius: 10px;
    width: 150px;
    height: 25px;
}

.form-act label {
    margin-left: 20px;
}

.form-act .name-label {
    margin-left: 0px;
}


.form-act {
    display: flex;
    flex-direction: column;
    margin-left: 130px;
    margin-top: 130px;
    padding: 0px 50px 50px 50px;
    border: none;
    border-radius: 40px 10px;
    background:rgba(199, 145, 18,0.5);
}

.title-form {
    position: relative;
    left: 380px;
    margin-bottom: 50px;
}


.form-act p + button {
    width: 958.6px;
}

p.danger {
    color: red;
    font-size: 10px;
  }
  
input.danger {
border: 2px solid red;
}

